.wrapper {
    width: 940px;
    margin: 0 auto;
}

.head-wrapper {
    margin: 30px 0;
}
header {
    margin-bottom: 20px;
}
p {
    font-family: "HelveticaNeue";
    color: #464646;
    font-size: 12px;
}
.clearfix:after {
    display: table;
    content: "";
    clear: both;
}
a.no-decoration {
    text-decoration: none;
}
.right-arrow:before {
    content: url("../img/more.png");
    padding-right: 8px;
}
.right-arrow-white:before {
    content: url("../img/more-white.png");
    padding-right: 8px;
}
a.more {
    color: #000;
    font-family: "HelveticaNeue Medium";
    font-size: 12px;
    line-height: 28px;
}
/*Header*/
.logo { /*todo*/
    font-family: "Chunkfive";
    font-size: 36px;
    color: #000;
    /*font-weight: bolder;*/
}

    .logo .logo-circle {
        color: #f03c3c;
    }
.logo-holder {
    float: left;
}
h1 {
    font-size: 30px;
    font-family: "Chunkfive";
    text-align: center;
    margin: 20px 0 50px;
}
form.search-form {
    color: #cecece;
    border: 1px solid #ececec;
    float: right;
    padding: 0;
    width: 200px;
    height: 33px;
    font-family: "HelveticaNeue";
}
    form.search-form input,
    form.search-form button {
        border: none;
        background-color: transparent;
        height: 100%;
        font-size: 12px;
    }
        form.search-form input[type="text"] {
            width: 160px;
            padding: 0;
            margin: 0 0 0 10px;
        }
        form.search-form input[type="text"]:focus,
        form.search-form button[type="submit"]:focus {
            outline: none;
        }
#btnSubmitSearch {
    margin-right: 10px;
    padding: 0;
}
    #btnSubmitSearch:hover {
        color: #aaa;
    }
.main-navigation {
    border-top: 1px solid #ececec;
    font-family: "HelveticaNeue Medium";
}
    .main-navigation a {
        text-transform: uppercase;
        float: left;
        padding: 22px 25px;
        color: #000;
        border-top: 1px solid #ececec;
        position: relative;
        top: -1px;
        font-size: 14px;
    }
        .main-navigation a:after {
            background-color: #ececec;
            content: "";
            display: inline-block;
            height: 20px;
            margin-top: -10px;
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
        }
        .main-navigation a.current,
        .main-navigation a:hover {
            color: #f03c3c;
            border-top-color: #f03c3c;
        }
        .main-navigation a.current {
            font-weight: bold;
        }
/*Carousel*/
.carousel {
    margin: 20px 0 30px;
    position: relative;
}
.carousel .slider .slide {
    width: 940px;
    height: 500px;
    position: relative;
    display: none;
}
    .carousel .slider .slide.active {
        display: block;
    }
    .carousel .slider .slide.simple-slide > a {
        background-color: red;
    }
    .carousel .slider .slide > a,
    .carousel .slider .slide > div {
        float: left;
        margin: 3px;
        display: block;
    }
    .carousel .slider .slide .slide-size-1 {
        width: 307px;
        height: 74px;
    }
    .carousel .slider .slide .slide-size-2 {
        width: 307px;
        height: 183px;
    }
    .carousel .slider .slide .slide-size-3 {
        width: 307px;
        height: 110px;
    }
    .carousel .slider .slide .slide-size-4 {
        width: 627px;
        height: 299px;
    }
    .carousel .slider .slide .slide-size-5 {
        width: 307px;
        height: 116px;
    }
    .carousel .slider .slide .slide-size-longer {
        width: 314px !important;
    }
    .carousel .slider .slide .slide-centered {
        background-color: #010101;
        /*height: 195px;
        width: 294px;*/
        max-height: 200px;
        max-width: 300px;
        /*margin: -97px 0 0 -147px;*/
        opacity: 0.8;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 30px 35px 35px;
        transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
        box-sizing: border-box;
    }
        .carousel .slider .slide .slide-centered a {
            color: #fff;
        }
        .carousel .slider .slide .slide-centered h1 {
            font-size: 24px;
            line-height: 22px;
            margin: 0 0 20px;
            width: 100%;
            display: inline-block;
        }
        .carousel .slider .slide .slide-centered p {
            font-size: 12px;
            line-height: 16px;
            color: #fff;
            margin: 0 0 15px;
        }
    .carousel .slider .slide .slide-el-top {
        margin-top: 0 !important;
    }

    .carousel .slider .slide .slide-el-bottom {
        margin-bottom: 0 !important;
    }
    .carousel .slider .slide .slide-el-left {
        margin-left: 0 !important;
    }
    .carousel .slider .slide .slide-el-right {
        margin-right: 0 !important;
    }
    .carousel .controls .slide-left,
    .carousel .controls .slide-right {
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 93px;
        height: 86px;
        display: block;
        border: none;
        position: absolute;
        bottom: 50%;
    }
    .carousel .controls .slide-left {
        background-image: url("../img/prev.png");
        left: -14px;
    }
    .carousel .controls .slide-right {
        background-image: url("../img/next.png");
        right: -14px;
    }
/*Categories*/
.categories ul {
    list-style-type: none;
    font-family: "HelveticaNeue Medium";
    font-size: 14px;
    padding: 0;
}
    .categories ul li {
        text-transform: uppercase;
        float: left;
        color: #000;
        cursor: pointer;
    }
        .categories ul li.active,
        .categories ul li:hover {
            color: #f03c3c;
        }
        .categories ul li:after {
            content: "/";
            float: right;
            display: table;
            margin: 0 8px;
            color: #000;
        }
        .categories ul li:last-child:after {
            content: "";
            margin-right: 0;
        }
/*Articles Content*/
.articles-container {
    font-family: "HelveticaNeue";
}
    .articles-container .articles-column {
        width: 220px;
        float: left;
        margin: 0 10px;
    }
    .articles-container .articles-column:first-child {
        margin-left: 0;
    }
    .articles-container .articles-column:last-child {
        margin-right: 0;
    }
    .articles-container article {
        margin-bottom: 20px;
    }
.article-add-info {
    position: relative;
    cursor: pointer;
}
    .article-add-info:hover:before,
    .article-add-info:hover:after {
        display: block;
    }
    .article-add-info:before,
    .article-add-info:after {
        display: none;
        position: absolute;
    }
    .article-add-info:before {
        content: '';
        background-color: #000;
        height: 100%;
        left: 0;
        opacity: 0.75;
        top: 0;
        width: 100%;
    }
    .article-add-info:after  {
        content: url("../img/plus-sign.png");
        height: 37px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
        width: 37px;
    }
    .article-add-info .add-info-data {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        padding: 0 15px 15px;
        text-align: center;
        justify-content: space-between;
		-webkit-justify-content: space-between;
        display: none;
    }
    .article-add-info:hover .add-info-data {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
        display: flex;
    }
        .article-add-info .add-info-data div span {
            display: block;
        }
        .article-add-info .add-info-data div span:not(.fa) {
            font-family: "HelveticaNeue";
            font-size: 12px;
            line-height: 18px;
        }
        .articles-container article figure img:hover + .article-add-info,
        .articles-container article figure .article-add-info:hover {
            display: block;
        }
        .articles-container article .article-content {
            padding: 18px;
            border: 1px solid #dbdbdb;
            border-top-width: 0;
        }
        .articles-container article:last-child {
            margin-bottom: 0;
        }
        .articles-container article img {
            margin: 0;
            display: block;
        }
        .articles-container article h1,
        .articles-container article h2,
        .articles-container article h3 {
            text-align: left;
            margin: 0;
            font-weight: normal;
        }
        .articles-container article h1,
        .similar-posts .articles-container article h2 {
            font-family: "HelveticaNeue Medium";
            font-size: 18px;
            line-height: 1;
            color: #000;
        }
        .articles-container article h1 a,
        .similar-posts .articles-container article h2 a {
            color: #000;
            text-decoration: none;
        }
        .articles-container article h2,
        .similar-posts .articles-container article h3 {
            font-family: "HelveticaNeue Medium";
            color: #8a8a8a;
            font-size: 11px;
            line-height: 18px;
        }
        .articles-container article h2 a,
        .similar-posts .articles-container article h3 a {
            color: #8a8a8a;
            text-decoration: none;
        }
            .articles-container article h2 span.categories:before {
                content: "/";
                padding: 0 5px;
            }
        .articles-container article p {
            padding: 21px 0;
            margin: 0;
            font-size: 12px;
            line-height: 1.5;
            color: #2f2f2f;
        }
.similar-posts {
    margin: 40px 0;
}
.similar-posts figure {
    margin: 0;
}
/*  Article page    */
.article-content .article-images {
    width: 550px;
    margin-right: 40px;
    float: left;
}
.article-content .article-images img {
    margin: 15px 0;
}
.article-content .article-images img:first-child {
    margin-top: 0;
}
.article-content .article-data {
    font-size: 12px;
    line-height: 1.5;
    overflow: hidden;
    width: auto;
    float: none;
    font-family: "HelveticaNeue";
}
.article-content p {
    color: #000;
}
.article-content .article-stats-header,
.article-content .article-stats {
    line-height: 20px;
}
.article-content .article-stats-header {
    color: #868686;
}
.article-content .article-stats {
    color: #f37272;
}
/*  Articles page  */
.articles-nav {
    margin: 50px 0;
}
.articles-nav button.articles-nav-button {
    box-sizing: padding-box;
    color: #666;
    width: 25px;
    height: 25px;
    font-family: "HelveticaNeue";
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgb( 236, 236, 236 );
    /*background-image: -moz-linear-gradient( 90deg, rgba( 0, 0, 0, 1 ) 0%, rgba( 255, 255, 255, 1 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba( 0, 0, 0, 1 ) 0%, rgba( 255, 255, 255, 1 ) 100%);
    background-image: linear-gradient( 90deg, rgba( 0, 0, 0, 1 ) 0%, rgba( 255, 255, 255, 1 ) 100%);*/
    background-image: -moz-linear-gradient(0deg, rgba(215, 215, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(215, 215, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient(0deg, rgba(215, 215, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
    
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 1px 0 rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 1px 0 rgba(255, 255, 255, 1) inset;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 1px 0 rgba(255, 255, 255, 1) inset;
}
.articles-nav button.articles-nav-button:hover {
    background-image: -linear-gradient(90deg, rgba(225, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient(90deg, rgba(225, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(225, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 100%);

    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 0px 0px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 0px 0px rgba(255, 255, 255, 1) inset;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 0px 0px rgba(255, 255, 255, 1) inset;
}
.articles-nav button.articles-nav-button.active,
.articles-nav button.articles-nav-button:active {
    background-image: -linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
    
    /*
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.14);
    */
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1), 1px 1px 3px 0px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1), 1px 1px 3px 0px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1), 1px 1px 3px 0px rgba(0, 0, 0, 0.5) inset;
}
/*Footer*/
footer {
    border-top: 1px solid #ececec;
    padding: 23px 0;
}
.socials-container {
    float: left;
}
.social {
    display: block;
    float: left;
    width: 35px;
    height: 34px;
    margin: 0 3px;
    background-repeat: no-repeat;
    background-position: center;
}
.social:first-child {
    margin-left: 0 !important;
}
.social:last-child {
    margin-right: 0 !important;
}
.social.twitter {
    background-image: url("../img/footer/twitter.png");
}
.social.rss {
    background-image: url("../img/footer/rss.png");
}
.social.facebook {
    background-image: url("../img/footer/facebook.png");
}
.social.pinterest {
    background-image: url("../img/footer/pinterest.png");
}
.copyright {
    float: right;
    line-height: 23px;
    text-align: right;
}
.copyright p {
    margin: 0;
}
.copyright a {
    color: inherit;
}
#ownerInfo {
    font-size: 11px;
    font-family: "HelveticaNeue";
    color: #4d5154;
}
#ownerContacts {
    font-size: 12px;
    font-family: "HelveticaNeue";
    color: #4F5356;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb( 255, 255, 255);
    /*box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 1);*/
}
/*Contacts*/
.contacts-information {
    font-family:  "HelveticaNeue Medium";
    font-size: 12px;
    line-height: 16px;
    color: #464646;
}
.contacts-form {
    margin: 36px 0;
}
.contacts-form input,
.contacts-form textarea,
.contacts-form button {
    display: block;
    margin-bottom: 12px;
    font-family:  "HelveticaNeue Medium";
    font-size: 12px;
    line-height: 2.5;
    color: #c6c6c6;
}
.contacts-form input,
.contacts-form textarea {
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    padding-left: 15px;
}
.contacts-form input {
    width: 220px;
    height: 34px;
}
    .contacts-form input:focus
    .contacts-form button[type="submit"]:focus,
    .contacts-form textarea:focus {
        outline: none;
    }
.contacts-form textarea {
    width: 494px;
    height: 204px;
    resize: none;
}
.contacts-form button[type="submit"] {
    border: none;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
}
.link-more {
    font-family:  "HelveticaNeue" !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 2 !important;
    color: #474747 !important;
}
/*  About page  */
.page-about > p {
    margin: 25px 0;
}
.page-about p,
.page-about blockquote {
    color: #414141;
    line-height: 18px;
    font-family: "HelveticaNeue";
}
p.about-intro {
    font-family: "HelveticaNeue Medium";
    line-height: 16px;
}
.left-positioned {
    float: left;
    margin-left: 0;
    margin-top: 0;
}
.capital-letter:first-letter {
    color: #f03c3c;
    font-size: 36px;
    line-height: 0.5;
    padding: 5px 10px 5px 0;
    float: left;
    font-family: "HelveticaNeue Bold"
}
.quote {
    font-size: 12px;
    margin: 0;
    padding-left: 30px;
    position: relative;
    font-family: "HelveticaNeue Light" !important;
    font-style: italic;
}
.quote:before {
    color: #f03c3c;
    content: "\201C";
    font-size: 72px;
    height: 100%;
    left: 0;
    line-height: 0.25;
    margin-top: 1rem;
    position: absolute;
    top: 0;
    font-style: normal;
}
/*  Grid layout   */
/*  2 cells */
.grid-row.row-cells-2 .col-1 {
    padding: 0 2%;
    width: 48%;
}
/*  3 cells */
.grid-row.row-cells-3 .col-1 {
    padding: 0 2%;
    width: 30%;
}
/*  4 cells */
.grid-row.row-cells-4 .col-1 {
    padding: 0 1%;
    width: 22%;
}
/*  grids common */
.grid-row > [class^="col-"] {
    float: left;
}
.grid-row > [class^="col-"]:first-child {
    padding-left: 0;
}
.grid-row > [class^="col-"]:last-child {
    padding-right: 0;
}
/*  buttons */
.button {
    font-size: 13px;
    font-family: "HelveticaNeue";
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.20);
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    border: none;
    padding: 7px 15px;
    margin: 20px 10px;
    background-color: initial;
    border-radius: 3px;
    background-image: linear-gradient( 90deg, rgba( 0, 0, 0, 0.15 ) 0%, rgba( 255, 255, 255, 0.15) 100%);
    background-image: -moz-linear-gradient( 90deg, rgba( 0, 0, 0, 0.15 ) 0%, rgba( 255, 255, 255, 0.15) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba( 0, 0, 0, 0.15 ) 0%, rgba( 255, 255, 255, 0.15) 100%);
}
.button-green {
    background-color: #8caf2f;
}
.button-silver {
    background-color: #d1d1d1;
}
.button-blue {
    background-color: #6aa2f7;
}
.button-orange {
    background-color: #f67441;
}
.button-purple {
    background-color: #f16bef;
}
.button-red {
    background-color: #f95151;
}
.button-baby-blue {
    background-color: #61e0e8;
}
/*  alerts  */
.alert {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    font-family: "HelveticaNeue";
    font-style: italic;
    font-weight: bold;
    width: 100%;
    padding: 15px 0;
    border-width: 1px 1px 2px;
    border-style: solid;
    margin: 15px 0;
}
.alert-green {
    border-color: #98c601;
    color: #98c601;
    background-color: rgb( 239, 254, 185 );
}
.alert-red {
    border-color: #eb5439;
    color: #eb5439;
    background-color: #fbcbc1;
}
.alert-orange {
    border-color: #fab418;
    color: #fab418;
    background-color: #ffe9ad;
}
.alert-blue {
    border-color: #4d8fcb;
    color: #4d8fcb;
    background-color: #d1e4f3;
}